{% extends 'base.html'%}

{% block title%}Blogly - Post ({{post.title}}){%endblock%}


{% block content %}
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
    <small>By {{user.first_name}} {{user.last_name}}</small>
    <a href='/users/{{user.id}}'>
        <button>Back</button>
    </a>
    <a href='/posts/{{post.id}}/edit'>
        <button>Edit</button>
    </a>
    <form action="/posts/{{post.id}}/delete" method="post">
        <button type="submit">Delete</button>
    </form>

    <h2>Tags</h2>
    {%for tag in tags%}
    <p>{{tag}}</p>
    {%endfor%}
{%endblock%}